[submodule "opt/delimitMate"]
	path = opt/delimitMate
	url = git@github.com:Raimondi/delimitMate.git
[submodule "opt/vim-go"]
	path = opt/vim-go
	url = git@github.com:fatih/vim-go.git
[submodule "opt/vim-commentary"]
	path = opt/vim-commentary
	url = git@github.com:tpope/vim-commentary.git
