[submodule "opt/delimitMate"]
	path = opt/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "opt/vim-go"]
	path = opt/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "opt/vim-commentary"]
	path = opt/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
